{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!DOCTYPE HML>

    <div class="container">
        <ol class="breadcrumb"  >
            <li><a href="/accueil">accueil</a></li>
        </ol>
    </div>
    <div class="container"> 
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-material-amber-500">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Mes Bénéficiaires</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-material-green-500">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes Prostituées</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-material-deep-purple-500">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes Garanties</h3>
                    </div>
                    <div class="panel-body">
                        <a href="./contrats">Voir le détail de mes garanties santé</a>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="container">

        <div class="jumbotron">



            <div>
                <div>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Bénéficiaire</th>
                                <th>Libellé</th>
                                <th>Date</th>
                                <th>Montant payé</th>
                                <th>Montant remboursement</th>
                                <th>Dont mutuelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Max</td>
                                <td>Hopital Lyon</td>
                                <td>15/10/1995</td>
                                <td>200€</td>
                                <td>130€</td>
                                <td>20€</td>
                            </tr>
                            <tr>
                                <td>Max</td>
                                <td>Hopital Lyon</td>
                                <td>15/10/1995</td>
                                <td>200€</td>
                                <td>130€</td>
                                <td>20€</td>
                            </tr>
                            <tr>
                                <td>Max</td>
                                <td>Hopital Lyon</td>
                                <td>15/10/1995</td>
                                <td>200€</td>
                                <td>130€</td>
                                <td>20€</td>
                            </tr>
                            <tr>
                                <td>Max</td>
                                <td>Hopital Lyon</td>
                                <td>15/10/1995</td>
                                <td>200€</td>
                                <td>130€</td>
                                <td>20€</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <div class="container"> 
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes Factures</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-material-red-500">
                    <div class="panel-heading ">
                        <h3 class="panel-title">Mes Documents</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-material-blue-500">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes Informations</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-material-deep-orange-500">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contacts</h3>
                    </div>
                    <div class="panel-body">
                        <a class="mdi-communication-chat" href="./contacts"></a>
                    </div>
                </div>
            </div>
        </div>   
    </div>    


{% endblock %}