{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div>
    <ol class="breadcrumb" >
                    <li><a href="/accueil">accueil</a></li>
                    <li> blibli </li>
    </ol>
    </div>
    
    <form class="form-inline">
         <div class="form-group">
            <label for="beneficiareSearch">Bénéficiaire</label>
                    <select id="beneficiaireSearch">
                    <option> </option>      
                    <option> Max</option>
                </select>
        </div>
        <div class="form-group">
            <label for="dateSearch">Date</label>
            <input type="date" id="dateSearch"/>             
        </div>     
    </form>
    <div class="col-sm-6 col-md-3">
	<div class="thumbnail tile tile-medium tile-green">
        <a href="#" class="fa-links">
            <h1>Home</h1>
                <i class="fa fa-3x fa-home"></i>
		</a>
    </div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="thumbnail tile tile-medium tile-orange">
        <a href="#" class="fa-links">
            <h1>RSS</h1>
                <i class="fa fa-3x fa-rss-square"></i>
		</a>
	</div>
</div>
    
    <div>
            <div>
                
                    <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Bénéficiaire</th>
                            <th>Libellé</th>
                            <th>Date</th>
                            <th>Montant payé</th>
                            <th>Montant remboursement</th>
                            <th>Dont mutuelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
    </div>

                        {% endblock %}