{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <ol class="col-md-5 breadcrumb" >
                    <li><a href="/accueil">accueil</a></li>
                    <li> blibli </li>
                </ol>
    <div class="jumbotron">


        <div class="row">
            
            <div class="col-md-5">
                <button class=""></button>
            </div>


                        {% endblock %}