{% extends "layout.html.twig" %}

{% block title %}Mes contacts{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/contracts">Contacts</a></li>
    </ol>
    </div>
    <div class="jumbotron">
        <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="post"action = "contacts">
                    <fieldset>
                        <legend class="text-center header">Nous contacter</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" name="firstname" type="text" placeholder="Prénom" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="lname" name="lastname" type="text" placeholder="Nom" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="phone" name="phone" type="text" placeholder="Téléphone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" id="message" name="message" placeholder="" rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Nos bureaux</div>
                    <div class="panel-body text-center">
                        <div>
                        Bâtiment Istil, 15 Boulevard André Latarget<br />
                        69100 Villeurbanne<br />
                        04 72 43 12 24<br />
                        polytech.univ-lyon1.fr<br />
                        </div>
                        <hr />
                        <div id="map1" class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6618.422069858612!2d4.8705117977115036!3d45.77713071372016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1447863514412" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   

    
                        {% endblock %}