{% extends "layout.html.twig" %}

{% block title %}Mes contacts{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/contrats">Mes garanties</a></li>
    </ol>
    </div>
    <div class="jumbotron">
        <div class="row wrap">
          <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>Mes Garanties</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">Assurance maladie</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    </div>
                    <div class="text-center">
                        <a href="/detailContrat"><span class="glyphicon glyphicon-plus"></span> Plus d'infos</a>
                    </div>
                </div>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">Assurance Multi-risques</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    </div>
                    <div class="text-center">
                        <a href="/detailContrat"><span class="glyphicon glyphicon-plus"></span> Plus d'infos</a>
                    </div>
                </div>
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">Assurance préventive</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    </div>
                    <div class="text-center">
                        <a href="/detailContrat"><span class="glyphicon glyphicon-plus"></span> Plus d'infos </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                        {% endblock %}