{% extends "layout.html.twig" %}

{% block title %}Mes contacts{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">accueil</a></li>
                    <li><a href="/contracts">Mes contracts</a></li>
    </ol>
    </div>
    <div class="jumbotron">
        PAGE MES CONTRACTS
    </div>

    </div>
                        {% endblock %}