{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">accueil</a></li>
                    <li><a href="/contracts">Mes contracts</a></li>
                    <li><a href="/contracts">Detail du contract</a></li>
    </ol>
    </div>
    <div class="jumbotron">
        PAGE DETAILS CONTRACTS
    </div>

    </div>
                        {% endblock %}