{% extends "layout.html.twig" %}

{% block title %}Mes documents{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/contracts">Mes documents</a></li>
               
    </ol>
    </div>
    <div class="jumbotron">
        AUCUN DOCUMENT
    </div>

    </div>
                        {% endblock %}