{% extends 'layout.html.twig' %}



{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% if error %}
        <div class="alert alert-danger">
            <strong>Echec de la connexion ! ( verifier votre mot de passe et identifiant )</strong> 
        </div>
    {% endif %}

     <div class="jumbotron">
        <img class="img-responsive pull-center" src="{{ app.request.basepath }}/images/cover.jpg" alt="cover"/>
    </div>  

    <div class="well">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4"><h2 style="margin-left: -5px;">Indentification</h2> <br/></div>
        <form class="form-signin form-horizontal form-group-material-light-blue-500" role="form" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" for="unserName">Nom d'utilisateur</label>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <input type="text" id="userName" name="_username" value="{{ last_username }}" class="form-control" placeholder="Entrer votre numéro de bénéficiaire" required autofocus>
                </div>
                
            </div>
            <div class="form-group form-group-material-light-blue-500">
                <label class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" for="password">Mot de Passe</label>
                  
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Entrer votre mot de passe" required>
                </div>
            </div>
            <div class="form-group form-group-material-light-blue-500">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-material-light-blue-500 btn-primary"><span class="glyphicon glyphicon-log-in"></span> Connexion</button>
                    
                </div>
            </div>
        </form>
    </div>
{% endblock %}