{% extends "layout.html.twig" %}

{% block title %}Nouveau contract{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">accueil</a></li>
                    <li><a href="/contracts">Mes contracts</a></li>
                    <li><a href="/contracts">Nouveau contract</a></li>
    </ol>
    </div>
    <div class="jumbotron">
        PAGE NOUVEAU CONTRACT
    </div>

    </div>
                        {% endblock %}