{% extends "layout.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/contracts">Mon profil</a></li>
                 
    </ol>
    </div>
    <div class="jumbotron">
        PAGE PROFIL
    </div>

    </div>
                        {% endblock %}