{% extends "layout.html.twig" %}

{% block title %}Mes remboursements{% endblock %}

{% block content %}
    <!DOCTYPE HML>
    <div class="container">
    <div>
    <ol class="breadcrumb"  >
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/remboursements">Mes remboursements</a></li>
    </ol>
    </div>
        
        
    <div class="jumbotron">
        
    <form class="form-inline">
         <div class="form-group form-group-material-light-blue-500">
            <label for="beneficiareSearch">Bénéficiaire</label>
                    <select id="beneficiaireSearch">
                    <option> </option>      
                    <option> Max</option>
                </select>
        </div>
        
            <label for="dateMin">Période :</label>
          <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    </form>

    <div>
            <div>
                
                    <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Bénéficiaire</th>
                            <th>Libellé</th>
                            <th>Date</th>
                            <th>Montant payé</th>
                            <th>Montant remboursement</th>
                            <th>Dont mutuelle</th>
                        </tr>
                    </thead>
                    
                    <!-- A MODIFIER -->
                    <tbody>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td>Hopital Lyon</td>
                            <td>15/10/1995</td>
                            <td>200€</td>
                            <td>130€</td>
                            <td>20€</td>
                        </tr>
                    </tbody>
                    
                    <!-- FIN A MODIFIER -->
                </table>
                
            </div>
            
    </div>
        
    </div>

    </div>
                        {% endblock %}