body { 
    padding-top: 70px; 
}

h1 small {
    font-size: 24px;
}

.nav-tabs {
    margin-bottom: 20px;
}

a:link 
{ 
 text-decoration:none; 
} 
div.zoomInfos
{
    width: 10px;
    height: 10px;
    background-image: url(http://www.accordonsnoscultures.fr/assets/images/philosophie/loupe.png);
    background-size: contain;
}